body{
    margin:0;
    font-family: cursive;
}

h1{
    margin:0 auto 0 auto;
    color:#183A1D;
}
.full:hover,.full:active{
    color: #F0A04B;
}
.full{
    font-family: cursive;
    font-size: large;
    color:#183A1D;
}
.first{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #FEFBE9;
    width:100%;
    height:100%;
}
.second{
    border-style: inset;
    border-bottom:10px;
    padding-bottom: 5px;
    background-color:#E1EEDD ;
    width:100%;
    height:50%;
    position:relative;
    top:-20px;
}
p{
    color: #183A1D;
}
.psecond{
    font-size: 18px;
}
h3{
    color:#08240c;
    font-size: 20px;
}
h3:hover,h3:active{
    color:rgb(162, 47, 66);
}
.objective{
    display:inline;
    padding-top: 10px;
}
.third{
    border-style: inset;
    border-bottom:10px;
    padding-bottom: 5px;
    background-color:#BFDCE5;
    width:100%;
    height:50%;
    position: relative;
    top:-20px;
}
.forth{
    border-style: inset;
    border-bottom:10px;
    padding-bottom: 5px;
    background-color:#da4b61;
    width:100%;
    height:50%;
    position: relative;
    top:-20px;

}
.imgphoto{
    width: 100px;
    height: 100px;
}
.imgcss{
    position: absolute;
    left:50px;
    width: 30px;
    height: 30px;
    top:30px;
}
.imghtml{
    position: absolute;
    left:1180px;
    width: 30px;
    height: 30px;
    top:75px;
}
.imgjs{
    position: absolute;
    left:120px;
    width: 30px;
    height: 30px;
    top:120px;
}
.imgnode{
    position: absolute;
    left:1300px;
    width: 50px;
    height: 30px;
    top:30px;
}
.imgdb{
    position: absolute;
    left:200px;
    width: 35px;
    height: 40px;
    top:50px;
}
.imgjava{
    position: absolute;
    left:1400px;
    width: 50px;
    height: 30px;
    top:110px;
}
table{
    color:#183A1D;
    font-size: 18px;
}
th:hover,th.active{
    color:#F0A04B;
}
td{
    text-align: center;
}
.imgobj{
    width:30px;
    height: 30px;
    display:inline;
    padding-top:10px;
}
.imgedu{
    width:30px;
    height: 30px;
    display:inline;
    padding-top:15px;
}
.educational{
    display:inline;
}
.h3skills:hover, .h3skills:active{
    color:white;
}
.h3skills{
    color:#183A1D;
    display: inline;
}
.imgskills{
    width:30px;
    height: 30px;
    display:inline;
    padding-top:10px;
}
.imghobbi{
    width:30px;
    height: 30px;
    display:inline;
    padding-top:10px;
}
#idhobbi{
    display: inline;
    padding-top:10px;
}
#idhobbi:hover,#idhobbi:active{
    color:#FEFBE9}
li{
    color:#183A1D;
    font-size: 20px;
}
.imgj{
display: inline;
height: 30px;
width: 30px;
}
.imgcs{
    display: inline;
    height: 30px;
    width: 30px;
    }
  .imgc{
   display: inline;
   height: 30px;
   width: 30px;
   }
   .imgcplus{
   display: inline;
   height: 30px;
   width: 30px;
   }
  .imghtmll{
  display: inline;
  height: 30px;
  width: 30px;
  }
  .imgsql{
  display: inline;
  height: 30px;
  width: 30px;
  }
 .imgmongo{
 display: inline;
 height: 30px;
 width: 30px;
 }
.imgpy{
 display: inline;
 height: 30px;
 width: 30px;
}
.h3forth{
    color:#FEFBE9;
}
.imgcontact{
    width:30px;
    height: 30px;
    display:inline;
    padding-top:10px;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: green;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
  }